
@{
    ViewBag.Title = "shoppage";
}

<h2>Crazy daisy</h2>
<font color="#bababa">Søg efter en Bar: </font><input id="searchBar" type="text" /> <input id="btnSearch" type="button" value="Søg"  />

<div class="drinksmenu" style="margin-left: -60px;">
    <h2 style="background-color: blueviolet; color: black;">Drinks Menu</h2>
    <ul id="menu">
        <li>@Html.ActionLink("Drinks", "Index", "Drink")</li>
        <li>@Html.ActionLink("Shots", "Shots", "Shop")</li>
        <li>@Html.ActionLink("Snacks", "Snacks", "Shop")</li>
    </ul>
</div>
<h3>Her kommer alle tingene</h3>