@{
    ViewBag.Title = "FindBar";
}
<div class="body">
    <font color="#bababa">Søg efter en Bar: </font><input id="searchBar" type="text" /><input id="btnSearch" type="button" value="Søg" />

    <div class="movestuff">
        <textarea id="TextArea1" rows="2" cols="20"></textarea>
    </div>

        <div class="shop-tab-content active, floatright">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" class="floatright">

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://www.rd.com/wp-content/uploads/sites/2/2016/04/01-cat-wants-to-tell-you-laptop.jpg" alt="...">
                        <div class="carousel-caption">
                            <h2>Lille miv</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://i.pinimg.com/736x/bc/f0/4e/bcf04eafebdf707b8d900f02e6d8bd70--photo-tag-touch-me.jpg" alt="...">
                        <div class="carousel-caption">
                            <h2>En anden kat</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://i.ytimg.com/vi/CJTq21dxkeA/maxresdefault.jpg" alt="...">
                        <div class="carousel-caption">
                            <h2>4 misser</h2>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://i.ytimg.com/vi/II4rlQY8f8s/maxresdefault.jpg" alt="...">
                        <div class="carousel-caption">
                            <h2>Heavy breathing</h2>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
</div>