@{
    ViewBag.Title = "Index";
}

<h2>Drinkzy forside</h2>
<p>Denne webside er til fucbois der vil bestille drinks på en nem måde</p>

<div id="my-carousel" class="carousel slide" data-ride="carousel" style="width: 600px; height: 300px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="width: 600px; height: 300px;">
            <img alt="First slide" src="http://www.vestiageinc.com/wp-content/uploads/2017/05/Modern-Home-Bar-Design-Ideas-Picture.jpg">
            <div class="carousel-caption">
                <h3>Modern Bar</h3>
                <p>Dette er en meget moderne bar</p>
            </div>
        </div>
        <div class="item" style="width: 600px; height: 300px;">
            <img alt="Second slide" src="https://ritzcarlton-h.assetsadobe.com/is/image/content/dam/the-ritz-carlton/hotels/asia-pacific/china/hong-kong/assetmigration/RCHKKOW_00052_conversion.png?$XlargeViewport100pct$">
            <div class="carousel-caption">
                <h3>Super Bar</h3>
                <p>Ligner noget der er løgn</p>
            </div>
        </div>
        <div class="item" style="width: 600px; height: 300px;">
            <img alt="Third slide" src="https://www.nycgo.com/images/venues/597/bodeganegra_tanyablum_06__x_large.jpg">
            <div class="carousel-caption">
                <h3>Bodegaen</h3>
                <p>God gammel Bodega</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>